.textbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textbox textarea {
  width: 100%;
  height: 30px;
  line-height: 20px;
  padding: 5px;
  resize: none;
  background-color: #ebddcf;
  border-radius: 4px;
}

.textbox .btnbox {
  margin-left: 10px;
  display: flex;
  justify-content: end;
}

.textbox .btnbox button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 15px;
  height: 30px;
  padding: 4px;
  background-color: #333;
  color: #fff;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
}
