@font-face {
  font-family: 'Press Start 2P';
  src: url('PressStart2P-Regular.ttf') format('opentype'),
  url('PressStart2P-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.global-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.loading {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;

  animation: circle infinite 2s linear;
}

.gameWrapper {
  color: #fff;
}

.gameContentWrapper {
  margin: auto;
  padding: 0;
  overflow: hidden;
}

.gameContentWrapper canvas {
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
}

/* width: `${width * multiplier}px`,
    height: `${height * multiplier}px`,
    margin: 'auto',
    padding: 0,
    overflow: 'hidden',
    '& canvas': {
      imageRendering: 'pixelated',
      '-ms-interpolation-mode': 'nearest-neighbor',
      boxShadow: '0px 0px 0px 3px rgba(0,0,0,0.75)',
    }, */